# Ignore virtual environments
.venv/
venv/

# Ignore environment files (secrets)
.env

# Ignore solution
Code/solution
Code/Ex10_Data_Visualization.ipynb

# Ignore Python cache files inside mid-term/
mid-term/__pycache__/
mid-term/.pytest_cache/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore log files
*.log

# Ignore processed data files
Code/data/processed
