# Ignore virtual environments
.venv/
venv/

# Ignore solution
mid-term/
#midterm_solution.ipynb
#midterm_solution.py
#test_mterm.py
midterm_2025_Spring.md
#respond_time.csv
survey.db3

# Ignore environment files (secrets)
.env

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore log files
*.log

# Ignore database files
*.sqlite3
